@using Microsoft.EntityFrameworkCore
@using SustainabilityWebApp.Data
@using SustainabilityWebApp.Models
@inherits LayoutComponentBase
@inject IDbContextFactory<SustainabilityWebAppContext> DbFactory
@inject NavigationManager Nav

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private List<Brand> RandomBrands = new();

    protected override async Task OnInitializedAsync()
    {
        RandomBrands = await LoadRandomBrandsAsync();
    }

    private async Task<List<Brand>> LoadRandomBrandsAsync()
    {
        using var context = DbFactory.CreateDbContext();
        return await context.Brand.Take(5).ToListAsync();
    }
}