@page "/brands/create"
@using Microsoft.EntityFrameworkCore
@using SustainabilityWebApp.Models
@inject IDbContextFactory<SustainabilityWebApp.Data.SustainabilityWebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Brand</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Brand" OnValidSubmit="AddBrand" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Brand.Name" class="form-control" /> 
                <ValidationMessage For="() => Brand.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="foundeddate" class="form-label">Founded Date:</label> 
                <InputDate id="foundeddate" @bind-Value="Brand.FoundedDate" class="form-control" /> 
                <ValidationMessage For="() => Brand.FoundedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="score" class="form-label">Score:</label> 
                <InputNumber id="score" @bind-Value="Brand.Score" class="form-control" /> 
                <ValidationMessage For="() => Brand.Score" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="averageprice" class="form-label">Average Price:</label> 
                <InputNumber id="averageprice" @bind-Value="Brand.AveragePrice" class="form-control" /> 
                <ValidationMessage For="() => Brand.AveragePrice" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/brands">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Brand Brand { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBrand()
    {
        using var context = DbFactory.CreateDbContext();
        context.Brand.Add(Brand);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/brands");
    }
}
