h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;

    /* Gradient Text */
    background: linear-gradient(90deg, #73946B, #9EBC8A);
    -webkit-background-clip: text;  /* For Chrome, Safari */
    -webkit-text-fill-color: transparent; /* For Chrome, Safari */
    background-clip: text; /* Standard */
    color: transparent; /* Fallback */
}

h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #1b6ec2;
    bottom: -8px;
    left: 25%;
    border-radius: 2px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    /* remove justify-content: center; */
    height: auto; /* let height adjust to content */
    margin-top: 2rem; /* optional spacing from top */
}
